# Visual Studio
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
ipch/
*.obj
*.log
*.tlog
*.idb
*.pdb
*.exe
*.dll
*.lib
*.exp
*.iobj
*.ipdb
*.pch
*.aps
*.ncb
*.sdf
*.opensdf
*.cache
*.class
*.vs/
Debug/
Release/
